<nav>
    <p>DH-flix</p>
    <ul>
        <li>
            <a href="/peliculas/crear">Crear Película</a>
        </li>
        <li>
            <a href="/peliculas">Ver Películas</a>
        </li>
    </ul>
</nav>