<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>

    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
    <h1>Welcome to DH-FLIX!</h1>
    <h2>Películas y series ilimitadas</h2>
    </main>

    <footer>
        <%- include("./partials/footer") %>  
    </footer>

    </body>

    </html>

    
